.landing-table th, .landing-table tr {

  border-bottom: 2px solid #757575 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  background-color: transparent !important;
}
.landing-table td {
  border-left: none !important;
  border-right: none !important;
  width: 33.33% !important;
  padding: 16px 40px 16px 0 !important;
}
.landing-table td:nth-child(1) {
  border-left: none !important;
  border-right: none !important;
  font-weight: normal !important;
}
.landing-table tr:last-child {
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}
.landing-table tbody td {
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
  color: #EEEEEE !important;
}


.light .landing-table tbody td {
  color: #000  !important;
}

table.wait-step tr {
  color: white;
  background-color: transparent !important;
  border-bottom: 1px solid white;
}

table.wait-step td {
  color: white;
  background-color: transparent !important;
  border: 0 !important;
}

table.wait-step th {
  color: white !important;
  background-color: transparent !important;
  border: 0 !important;
}





a[title="Source"] {
  float:right;
  margin: 0 2rem 2rem 2rem;
}


/* Top nav dropdowns have different generated IDs compared to the old site */
.top-nav .dropdown-menu.show#topnav_dd_about {
  grid-template-columns: 180px 180px 180px;
}
.top-nav .dropdown-menu.show .col-for-xrp_ledger {
  grid-row: 1 / 3;
  grid-column: 1;
}
.top-nav .dropdown-menu.show#topnav_dd_docs {
  grid-template-columns: 180px 180px 260px;
  left: -200px;
}
.top-nav .dropdown-menu.show .col-for-popular_pages {
  grid-column: 3;
  grid-row: 1 / 4;
  margin: -40px -40px -40px 0;
  padding: 40px;
  background-color: #232325;
}
.top-nav .dropdown-menu.show #dropdown-hero-for-docs {
  grid-column: 1 / 3;
}
.top-nav #topnav_dd_community {
  gap: 0;
}
#dropdown-hero-for-community {
  grid-column: 1;
}
@media (min-width: 992px) {
  .top-nav #topnav_dd_community {
    width: 360px;
  }
}

@media (max-width: 991.98px) {
  /* Fix dropdown size with top banner present */
  .top-nav .dropdown-menu.show {
    height: calc(100vh - 80px - 52px - 46px);
  }

  .top-nav .dropdown-menu.show#topnav_dd_docs {
    display: grid;
    grid-template-columns: minmax(187px, 1fr) minmax(187px, 1fr);
    gap: 1px;
  }
  .top-nav .dropdown-menu.show#topnav_dd_docs .dropdown-hero {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .top-nav .dropdown-menu.show .col-for-popular_pages {
    grid-column: 1 / 3;
    grid-row: 4;
    margin: -1px;
    padding-top: 33px;
  }

  /* Fix spacing of community dropdown */
  #topnav_dd_community.show {
    padding: 1rem 2rem 4rem 2rem;
  }
  #dropdown-hero-for-community {
    padding-left: 0;
  }
}

.light .top-nav .dropdown-menu.show .col-for-popular_pages {
  background-color: #E0E0E1;
}

/* Fixes for theme toggle. Some of these might be fixable by using overrides that don't add styles instead. */
.light article,
.light .styled-page p {
  color: #000;
}
.dark article {
  color: #fff;
}

.light body {
  color: #000;
}

.light .page-uses p{
  color: #000;
}

.dark aside {
  background-color: unset;
  color: #fff !important;
}
.light aside {
  background-color: unset;
  border-right: 0;
}

.light aside ul a {
  color: #000;
}

/* Fix links in left sidebar nav. */
.dark .page-tree-nav,
.dark .page-tree-nav a,
.dark .page-tree-nav span {
  color: #fff;
}
.light .page-tree-nav,
.light .page-tree-nav a,
.light .page-tree-nav span {
  color: #000;
}
.dark .page-tree-nav a:hover,
.dark .page-tree-nav a:hover span {
  color: #9A52FF;
  text-decoration: none;
}
.light .page-tree-nav a:hover,
.light .page-tree-nav a:hover span {
  color: #7919FF;
  text-decoration: none;
}

.dark .page-tree-nav > aside {
  border-right-width: 0;
}

.page-tree-nav aside div > i {
  background-image: none;
  width: 1.75em;
  height: 1.75em;
  display: grid;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}

.page-tree-nav aside div > i::after {
  display: inline-block;
  vertical-align: .34em;
  content: "";
  border-top: .4em solid;
  border-right: .4em solid transparent;
  border-bottom: 0;
  border-left: .4em solid transparent;
}

.dark .page-tree-nav aside div > i::after {
  border-top-color: #fff;
}
.light .page-tree-nav aside div > i::after {
  border-top-color: #000;
}

/* right nav scrollspy coloring. ".page-tree-nav + div" is a hack to select
   the element that contains the center and right columns */
.light .page-tree-nav + div aside a:hover,
.light .page-tree-nav + div aside a.active {
  background-color: #E0E0E1;
}

/* Search magnifying glass icon */
.light #search + span {
  filter: invert(100%);
}

.light #search {
  color: #000;
  background-color: #E0E0E1;
}
.dark #search {
  background-color: #111112;
}

/* Fixes for tables, esp. in light mode. */
.dark .page-tree-nav + div details > table td,
.dark .page-tree-nav + div article > table td,
.dark .page-tree-nav + div article > p table td,
.dark .page-tree-nav + div details > table tr,
.dark .page-tree-nav + div article > table tr,
.dark .page-tree-nav + div article > p table tr,
.dark .page-tree-nav + div details > table tr:nth-child(2n),
.dark .page-tree-nav + div article > table tr:nth-child(2n),
.dark .page-tree-nav + div article > p table tr:nth-child(2n),
.light .page-tree-nav + div details > table td,
.light .page-tree-nav + div article > table td,
.light .page-tree-nav + div article > p table td,
.light .page-tree-nav + div details > table tr,
.light .page-tree-nav + div article > table tr,
.light .page-tree-nav + div article > p table tr,
.light .page-tree-nav + div details > table tr:nth-child(2n),
.light .page-tree-nav + div article > table tr:nth-child(2n),
.light .page-tree-nav + div article > p table tr:nth-child(2n) {
  background: none;
}
.dark .page-tree-nav + div details > table th,
.dark .page-tree-nav + div article > table th,
.dark .page-tree-nav + div article > p table th,
.light .page-tree-nav + div details > table th,
.light .page-tree-nav + div article > table th,
.light .page-tree-nav + div article > p table th {
  background: none;
  color: inherit;
  font-weight: bold;
  border-width: 0 0 2px 0;
}

.light .page-tree-nav + div article > table tr,
.dark .page-tree-nav + div article > table tr {
  border-top-width: 0;
}
.page-tree-nav + div details > table td,
.page-tree-nav + div article > table td,
.page-tree-nav + div article > p table td {
  border-bottom-width: 1px;
  border-right-width: 0;
  border-left-width: 0;
}

/* Fix the height of the thing wrapping the search bar */
#topnav-pages > span > span {
  height: auto;
  width: 100%;
}

#search {
  max-width: 100%;
}

@media only screen and (max-width: 900px) {
  /* Fix Redocly style that pushes the search down at this breakpoint */
  #topnav-pages > span > span {
    margin: 0;
  }
}

@media (max-width: 991.98px) {
    #search {
      line-height: 40px;
    }
}

@media (min-width: 993px) {
  .top-nav #topnav-pages {
    flex-grow: 1 !important;
  }

  #topnav-pages > span {
    flex-grow: 1;
  }
}

#topnav-pages > span > span {
  line-height: unset;
}

/* Fix "Last updated" text. ".page-tree-nav + div" is again a proxy for center col */
.light .page-tree-nav + div time {
  color: #000;
}

/* Alert banner CSS, basically same as original */
.top-banner {
	height: 46px;
	background: url(/img/backgrounds/bg-apex-banner.svg);
	background-position: center;
	background-color: #7919FF;
	background-size: cover;

	padding: 2px 0;
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
}
@media (min-width: 768px) {
  .top-banner {
    padding: 5px 8px;
  }
}
.top-banner p {
	padding-top: 15px;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	margin: auto;
}
@media (min-width: 768px) {
  .top-banner p {
  	padding-top: 10px;
  	font-size: 16px;
  	width: initial;
  	line-height: 20px;
  }
}
.top-banner .btn {
  margin-top: 4px;
  margin-left: 8px;
  font-size: 12px;
}
@media (min-width: 768px) {
  .top-banner .btn {
    margin-top: 2px;
    margin-left: 16px;
    font-size: 16px;
  }
}
.light .top-banner .btn-outline-secondary {
  color: #E0E0E1;
  border-color: #E0E0E1;
}
html.light .top-banner .btn-outline-secondary:not(:disabled):not(.disabled):hover {
  color: #111112;
  background-color: #E0E0E1;
  border-color: #E0E0E1;
}

/* Fix mobile nav issues */
@media (max-width: 991.98px) {
  section .top-nav #top-main-nav {
    position: relative;
  }

  /* Fix the search inner wrapper */
  section #topnav-pages > span > span {
    margin-left: 0;
  }

  /* Fix the search outer wrapper */
  section #topnav-pages > span {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 72px;
    transition: all .2s ease;
  }

  #search {
    padding: 1rem 2rem;
    border-radius: 0;
  }
  /* hide search when mobile "dropdown" equivalent expanded */
  .top-nav #top-main-nav.submenu-expanded #topnav-pages > span {
    height: 0;
    overflow: clip;
    padding-top: 0;
    padding-bottom: 0;
  }

  .light .top-nav .navbar-collapse .nav-item {
    background-color: #E0E0E1;
  }
  .dark .top-nav .navbar-collapse .nav-item {
    background-color: #111112;
  }

}


@media (max-width: 767.98px) {
  .btn-arrow-out {
    display: block;
    width: 100%;
  }
}

.btn-arrow-out::after {
  background-position: left 0px bottom 0px;
  content: "\00a0";
  background-image: url(/img/icons/arrow-up-right-white.svg);
  background-repeat: no-repeat;
  display: inline-block;
  padding: 4px 8px 4px 12px;
  transition: background-position 0.3s ease-in-out;
  margin-left: 4px;
}

.btn-arrow-out:hover::after {
  background-position: left 4px bottom 4px;
}



/* photo banner */
#container-scroll {
  height:160px; 
  position:relative; 
  overflow:hidden;
  margin-top: 80px;
  margin-bottom: 64px;
}

.photobanner {
  position:absolute; 
  top:0px; 
  left:0px; 
  overflow:hidden; 
  white-space: nowrap;
  animation: bannermove 40s linear infinite;
}

.photobanner-bottom {
  top:112px; 
}

.photobanner img {    
  margin: 0 0.5em 
}

@keyframes bannermove {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-50%, 0);
  }
}

#carouselSlidesOnly{
  height: 392px;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  #carouselSlidesOnly{
    height: 320px;
    margin-bottom: 104px;
  }
}

.page-faq {
  background-image: url(../img/backgrounds/faq-bg.svg);
  background-repeat: no-repeat;
  background-size:contain;
}

.page-faq h6:first-of-type {
    color: #4CAF50 !important;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
    font-size: 1.25rem;
    line-height: 26px;
    text-align: center;
  }

@media (min-width: 992px){
    .page-faq h6:first-of-type{
      margin-top: 6.5rem;
    }
  }

.page-faq h1 {
    font-size: 2.625rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 5rem;
    text-align: center;}
@media (min-width: 992px){
      .page-faq h1{
        font-size: 3.875rem;
        margin-bottom: 13rem;
      }
    }

.page-faq  h2 {
  margin-top: 13rem;
  font-size: 2rem;
  line-height: 2.375rem;
  text-align: center;
  font-weight: 700;
}
.d-flex-column{
  box-sizing: border-box;
}
.page-faq p{
  font-size: 1rem;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight:normal;
}